// @section Configuration Settings
// Adjust colors, font stacks, breakpoints and sizing.
//
// Typographic Scale
// (For math purposes. Actual font sizes in ems.)
// 1px, 4px, 5px, 8px, 9px, 11px, 12px, 13px, 15px, 16px, 19px, 21px, 24px, 28px, 32px, 48px, 64px, 80px, 96px
// line height: 1.5em on small screens, 1.5625em on big screens
//

// Colors
$color-primary: #0088cc;
$color-black: #000014;
$color-white: #ffffff;

$color-success: #377f31; // Green
$color-danger: #880e14; // Red
$color-warning: #dba909; // Yellow
$color-code: #dd1144;

$color-gray-dark: rgb(47, 47, 61);
$color-gray-light: rgba(0, 0, 0, 0.75);


// Font Stacks
$font-primary: "Brando Hairline", serif;
$font-secondary: "freight-text-pro", serif;
$font-monospace: Menlo, Monaco, "Courier New", monospace;


// Breakpoints
$bp-xsmall: 450px;
$bp-small: 600px;
$bp-medium: 800px;
$bp-large: 1000px;
$bp-xlarge: 1250px;


// Sizing
$font-base: 120%;
$font-xlarge-screens: 125%;
$spacing: 1.5625em;
$container-max: 80em;
$container-width: 88%;


// Grid
$grid-margins: 2.8%;
$grid-sizes: ( // name: width
	fourth: 25%,
	third: 33.33333333333%,
	half: 50%,
	two-thirds: 66.666666666667%,
	three-fourths: 75%,
	fifth: 20%,
	two-fifths: 40%,
	three-fifths: 60%,
	four-fifths: 80%,
	full: 100%
);
$grid-breakpoints: ( // breakpoint, prefix, include offsets (boolean)
	($bp-xsmall, ".row-start-xsmall", false),
	($bp-small, ".row-start-small", false),
	($bp-medium, null, true)
);


// Icons
$icons: ( // name, character, color
	("logo", "e600", null),
);

//Transition
$trans: 0.3s;

