
// BackgroundColors
.bg-primary{
	background: $color-primary;
}
.bg-black{
	background: $color-black;
}
.bg-white{
	background: $color-white;
}
.bg-success{
	background: $color-success; 
}
.bg-danger{
	background: $color-danger; 
}
.bg-warning{
	background: $color-warning; 
}
.bg-code{
	background: $color-code;
}
.bg-gray-dark{
	background: $color-gray-dark;
}
.bg-gray-light{
	background: $color-gray-light;
}

// TextColors
.text-primary{
	color: $color-primary;
}
.text-black{
	color: $color-black;
}
.text-white{
	color: $color-white;
}
.text-success{
	color: $color-success; 
}
.text-danger{
	color: $color-danger; 
}
.text-warning{
	color: $color-warning; 
}
.text-code{
	color: $color-code;
}
.text-gray-dark{
	color: $color-gray-dark;
}
.text-gray-light{
	color: $color-gray-light;
}

